<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.prod.mapper.ProdProductMapper">
    
    <resultMap type="ProdProduct" id="ProdProductResult">
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productCode"    column="product_code"    />
        <result property="categoryId"    column="category_id"    />
        <result property="cover"    column="cover"    />
        <result property="specification"    column="specification"    />
        <result property="unit"    column="unit"    />
        <result property="price"    column="price"    />
        <result property="costPrice"    column="cost_price"    />
        <result property="stockWarn"    column="stock_warn"    />
        <result property="images"    column="images"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="productIntro"    column="product_intro"    />
        <result property="technicalSpecification"    column="technical_specification"    />
        <result property="tags"    column="tags"    />
        <result property="specGroup"    column="spec_group"    />
    </resultMap>

    <sql id="selectProdProductVo">
        select product_id, product_name, product_code, category_id, cover, specification, spec_group, unit, price, cost_price, stock_warn, images, technical_specification, status, del_flag, create_by, create_time, update_by, update_time, remark, product_intro, tags from prod_product
    </sql>

    <select id="selectProdProductList" parameterType="ProdProduct" resultMap="ProdProductResult">
        <include refid="selectProdProductVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="specification != null and specification != ''">
                AND specification like concat('%', #{specification}, '%')
            </if>
            <if test="categoryId != null and includeChild == false">
                AND category_id = #{categoryId}
            </if>
            <if test="categoryIds != null and categoryIds.size() > 0">
                AND category_id IN
                <foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        ORDER BY create_time DESC
    </select>

    <!-- 搜索商品列表 -->
    <select id="searchProductList" parameterType="ProdProduct" resultMap="ProdProductResult">
        <include refid="selectProdProductVo"/>
        <where>
            <if test="keyword != null and keyword != ''">
                AND (product_code LIKE CONCAT('%', #{keyword}, '%')
                OR product_name LIKE CONCAT('%', #{keyword}, '%')
                OR specification LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            AND status = "0"
        </where>
        ORDER BY create_time DESC
    </select>
    
    <select id="selectProdProductByProductId" parameterType="Long" resultMap="ProdProductResult">
        <include refid="selectProdProductVo"/>
        where product_id = #{productId}
    </select>

    <insert id="insertProdProduct" parameterType="ProdProduct" useGeneratedKeys="true" keyProperty="productId">
        insert into prod_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="productCode != null and productCode != ''">product_code,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="cover != null">cover,</if>
            <if test="specification != null">specification,</if>
            <if test="unit != null">unit,</if>
            <if test="price != null">price,</if>
            <if test="costPrice != null">cost_price,</if>
            <if test="stockWarn != null">stock_warn,</if>
            <if test="images != null">images,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="productIntro != null">product_intro,</if>
            <if test="technicalSpecification != null">technical_specification,</if>
            <if test="tags != null">tags,</if>
            <if test="specGroup != null">spec_group,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="productCode != null and productCode != ''">#{productCode},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="cover != null">#{cover},</if>
            <if test="specification != null">#{specification},</if>
            <if test="unit != null">#{unit},</if>
            <if test="price != null">#{price},</if>
            <if test="costPrice != null">#{costPrice},</if>
            <if test="stockWarn != null">#{stockWarn},</if>
            <if test="images != null">#{images},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="productIntro != null">#{productIntro},</if>
            <if test="technicalSpecification != null">#{technicalSpecification},</if>
            <if test="tags != null">#{tags},</if>
            <if test="specGroup != null">#{specGroup},</if>
         </trim>
    </insert>

    <update id="updateProdProduct" parameterType="ProdProduct">
        update prod_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="price != null">price = #{price},</if>
            <if test="costPrice != null">cost_price = #{costPrice},</if>
            <if test="stockWarn != null">stock_warn = #{stockWarn},</if>
            <if test="images != null">images = #{images},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="productIntro != null">product_intro = #{productIntro},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="technicalSpecification != null">technical_specification = #{technicalSpecification},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="specGroup != null">spec_group = #{specGroup},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteProdProductByProductId" parameterType="Long">
        delete from prod_product where product_id = #{productId}
    </delete>

    <delete id="deleteProdProductByProductIds" parameterType="String">
        delete from prod_product where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
</mapper>